<div class="menu_tareas ">
    <div cla="title-container">
        <div class="title h1">Tareas de Diseño de Interfaz</div>
    </div>
    <div class="button-container">
        <a routerLink="/inicio/matriz1" class="btn">Matriz 1</a>
        <a routerLink="/inicio/matriz2" class="btn">Matriz 2</a>
        <a routerLink="/inicio/cards" class="btn">Cards</a>
        <a routerLink="/inicio/botones" class="btn">Botones</a>
        <a routerLink="/inicio/forms" class="btn">Formulario</a>
        <a routerLink="/inicio/carrusel" class="btn">Carrusel y Galeria</a>
    </div>
</div>