<div class="matriz1">
    <div class="title-container title"> Matriz 1</div>
        <div class="title">3 x 3</div>

         <div class="grid">
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-3">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
        </div>
        
        <div class="title">4 x 4</div>

         <div class="grid">
            <div class="col-fixed col-4 ">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">2</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">3</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">4</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">2</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm font-bold">3</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-4">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
        </div>

        <div class="title">5 x 5</div>

        <div class="grid">
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-5">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
        </div>

        <div class="title">6 x 6</div>

        <div class="grid">
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">1</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">2</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">3</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">4</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">5</div>
            </div>
            <div class="col-fixed col-6">
                <div class="text-center p-3 border-round-sm  font-bold">6</div>
            </div>
        </div>

    <div class="button-container">
        <button class="btn" routerLink="/inicio/menu-tareas">Regresar</button>
    </div>

</div>