<div class="matriz2">
    <div class="title-container title">Matriz 2</div>
  
    <!-- Fila 1 -->
    <div class="grid">
      <div class="col-12 sm:col-12 md:col-12 lg:col-5 col-fixed col-offset-3">
        <div class="text-center p-3 border-round-sm font-bold">5</div>
      </div>
    </div>
  
    <!-- Fila 2 -->
    <div class="grid espacio">
      <div class="col-12 sm:col-6 md:col-3 lg:col-3 col-fixed col-offset-left">
        <div class="text-center p-3 border-round-sm font-bold">3</div>
      </div>
      <div class="col-12 sm:col-6 md:col-6 lg:col-4 col-fixed offset-rigth">
        <div class="text-center p-3 border-round-sm font-bold">4</div>
      </div>
    </div>
  
    <!-- Fila 3 -->
        <div class="grid">
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
            <div class="col-12 sm:col-1 md:col-1 lg:col-1 col-fixed">
                <div class="text-center p-3 border-round-sm font-bold">1</div>
            </div>
        </div>
            
    <!-- Fila 4 -->
    <div class="grid">
      <div class="col-12 sm:col-12 md:col-12 lg:col-5 col-fixed offset-rigth">
        <div class="text-center p-3 border-round-sm font-bold">5</div>
      </div>
    </div>
  
    <!-- Fila 5 -->
    <div class="grid espacio">
      <div class="col-12 sm:col-6 md:col-2 lg:col-2 col-fixed col-offset-left">
        <div class="text-center p-3 border-round-sm font-bold">2</div>
      </div>
      <div class="col-12 sm:col-6 md:col-2 lg:col-2 col-fixed offset-rigth">
        <div class="text-center p-3 border-round-sm font-bold">2</div>
      </div>
    </div>
  
    <!-- Fila 6 -->
    <div class="grid">
      <div class="col-12 sm:col-12 md:col-12 lg:col-6 col-fixed col-offset-3">
        <div class="text-center p-3 border-round-sm font-bold">6</div>
      </div>
    </div>
  
  
    <div class="button-container">
      <button class="btn" routerLink="/inicio/menu-tareas">Regresar</button>
    </div>
  </div>
  