<div class="cards">
    <div class="title-container title">Películas de Navidad</div>

    <div class="card-container">
        <div class="card-item card flex justify-content-center">
            <p-card header="Mi Pobre Angelito" subheader="Home Alone" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://m.media-amazon.com/images/S/pv-target-images/d7eb4c08dd806241b67fe5faf230274596d8d3b31400e016c969cae354c89d9d.jpg" class="image-container-c">
                </ng-template>
                <p>
                    Un niño de 8 años se queda accidentalmente solo en su casa durante la Navidad, y debe defender su hogar 
                    de dos ladrones torpes. Una comedia navideña clásica llena de momentos entrañables.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Ver ahora" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="card-item card flex justify-content-center">
            <p-card header="El Grinch" subheader="How the Grinch Stole Christmas" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://m.media-amazon.com/images/I/81Dl0CHbEbL._SL1500_.jpg" class="image-container-c">
                </ng-template>
                <p>
                    El Grinch, un ser gruñón, trata de robar la Navidad en la ciudad de Whoville, pero su plan fracasa cuando 
                    empieza a entender el verdadero significado de la festividad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="card-item card flex justify-content-center">
            <p-card header="El Expreso Polar" subheader="The Polar Express" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://es.web.img3.acsta.net/medias/nmedia/18/89/88/13/20071033.jpg" class="image-container-c"/>
                </ng-template>
                <p>
                    Un niño sube a un tren mágico que lo lleva al Polo Norte en la víspera de Navidad. En su viaje, descubre 
                    el verdadero espíritu navideño. Un cuento animado lleno de magia y aventura.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="card-item card flex justify-content-center">
            <p-card header="Cuento de Navidad" subheader="A Christmas Carol" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pics.filmaffinity.com/Cuento_de_Navidad-612926661-large.jpg" class="image-container-c"/>
                </ng-template>
                <p>
                    Ebenezer Scrooge, un avaro y egoísta hombre de negocios, es visitado por tres fantasmas la víspera de Navidad. 
                    A través de sus visitas, Scrooge redescubre el verdadero significado de la Navidad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="card-container">
        <div class="card-item card flex justify-content-center">
            <p-card header="Navidad en Casa" subheader="The Family Stone" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://pics.filmaffinity.com/Navidad_en_casa_Serie_de_TV-198170395-large.jpg" class="image-container-c">
                </ng-template>
                <p>
                    Una familia se reúne en Navidad y se enfrentan a secretos y diferencias familiares mientras intentan disfrutar 
                    de las festividades. Una mezcla de comedia y drama que toca el corazón.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="card-item card flex justify-content-center">
            <p-card header="Los Fantasmas de Scrooge" subheader="Scrooge" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://www.commonsensemedia.org/sites/default/files/styles/ratio_2_3_medium/public/product-images/csm-movie/scrooge-poster.jpg" class="image-container-c"/>
                </ng-template>
                <p>
                    Un hombre egoísta recibe la visita de tres fantasmas que le enseñan el verdadero significado de la Navidad, 
                    inspirando una reflexión profunda sobre la vida y la generosidad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>

        <div class="card-item card flex justify-content-center">
            <p-card header="Una Navidad de Locos" subheader="Christmas with the Kranks" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://image.tmdb.org/t/p/w1280//zgZkugYgYqONzP5MC6hYzVtpIKa.jpg" class="image-container-c"/>
                </ng-template>
                <p>
                    Una pareja decide saltarse las celebraciones navideñas, pero se ven obligados a cambiar de planes 
                    cuando su hija decide regresar a casa. Una comedia sobre las sorpresas que trae la Navidad.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>
    

        <div class="card-item card flex justify-content-center">
        <p-card header="Solo en Casa 2: Perdido en Nueva York" subheader="1992" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://play-lh.googleusercontent.com/w_ez0bfLVJgYIr9K6Z39wW8zZj0Dm5BAwEhZWvQtGHJjDrAo5CBZTresXOJd_momweew=w240-h480-rw" class="image-container-c">
            </ng-template>
            <p>
                Kevin se pierde en Nueva York durante las vacaciones de Navidad y, nuevamente, se enfrenta a los mismos ladrones con nuevas trampas.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                        <i class="pi pi-times"></i>
                    </p-button>
                    <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                        <i class="pi pi-play"></i>
                    </p-button>                        
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
        <p-card header="La Navidad de Charlie Brown" subheader="1965" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://m.media-amazon.com/images/S/pv-target-images/5f58d8e8002e4cc0ef3b41eae994a747ca881b4fc2dcd170d4fba6087848be1b.jpg" class="image-container-c">
            </ng-template>
            <p>
                Charlie Brown intenta encontrar el verdadero significado de la Navidad mientras lucha con el materialismo de la festividad.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                        <i class="pi pi-times"></i>
                    </p-button>
                    <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                        <i class="pi pi-play"></i>
                    </p-button>                        
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
        <p-card header="Un Principe para la Navidad" subheader="1965" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT7gyzLIxKl7AW7GLOi6sJkfMMYzxO0FlAzQ&s" class="image-container-c">
            </ng-template>
            <p>
                Una joven periodista aspirante es enviada al extranjero para obtener la exclusiva de un príncipe que está listo para ser rey.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                        <i class="pi pi-times"></i>
                    </p-button>
                    <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                        <i class="pi pi-play"></i>
                    </p-button>                        
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
        <p-card header="El extraño mundo de Jack" subheader="1984" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCIKmdVPjtnpZIZGEvxTzzNW8_G0NITwmeSmxaNfNlBFdld0EB26txfNtBoGGIGbVnaRI&usqp=CAU" class="image-container-c">
            </ng-template>
            <p>
                El rey de las calabazas en el pueblo de las brujas planea secuestrar a Santa Claus y, al mismo tiempo, llevar pánico en vez de alegría.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                        <i class="pi pi-times"></i>
                    </p-button>
                    <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                        <i class="pi pi-play"></i>
                    </p-button>                        
                </div>
            </ng-template>
        </p-card>
    </div>

    <div class="card-item card flex justify-content-center">
            <p-card header="Las Crónicas de Navidad" subheader="2018" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://es.web.img3.acsta.net/pictures/18/10/10/16/04/5479886.jpg" class="image-container-c">
                </ng-template>
                <p>
                    Dos hermanos ayudan a Santa Claus a salvar la Navidad cuando sus planes de Navidad se descontrolan y terminan causando un desastre.
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                            <i class="pi pi-times"></i>
                        </p-button>
                        <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                            <i class="pi pi-play"></i>
                        </p-button>                        
                    </div>
                </ng-template>
            </p-card>
        </div>
    

    <div class="card-item card flex justify-content-center">
        <p-card header="Krampus: El terror de la navidad" subheader="Michael Dougherty" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://pics.filmaffinity.com/Krampus_The_Christmas_Devil-706915294-large.jpg" class="image-container-c">
            </ng-template>
            <p>
                Los miembros de una familia disfuncional enfrentan la ira de Krampus, un antiguo demonio del folclore europeo, quien castiga a los chicos necios durante la Navidad.
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="Cancelar" severity="secondary" class="w-full" styleClass="w-full">
                        <i class="pi pi-times"></i>
                    </p-button>
                    <p-button label="Ver ahora" class="w-full" styleClass="w-full">
                        <i class="pi pi-play"></i>
                    </p-button>                        
                </div>
            </ng-template>
        </p-card>
    </div>
    
</div>


    <div class="card-container">
        <!-- Agregar más tarjetas de películas aquí, siguiendo el mismo formato -->
    </div>

</div>

<div class="cards">
    <div class="button-container">
        <button class="btn" routerLink="/inicio/menu-tareas">Regresar</button>
    </div>
</div>
