<!-- matriz 3x3 -->
<div class="grid">
  <div class="col-4">Columna 1</div>
  <div class="col-4">Columna 2</div>
  <div class="col-4">Columna 3</div>
  <div class="col-4">Columna 4</div>
  <div class="col-4">Columna 5</div>
  <div class="col-4">Columna 6</div>
  <div class="col-4">Columna 7</div>
  <div class="col-4">Columna 8</div>
  <div class="col-4">Columna 9</div>
</div>
<!-- matriz 4x4 -->
<div class="grid">
  <div class="col-3">Columna 1</div>
  <div class="col-3">Columna 2</div>
  <div class="col-3">Columna 3</div>
  <div class="col-3">Columna 4</div>
  <div class="col-3">Columna 5</div>
  <div class="col-3">Columna 6</div>
  <div class="col-3">Columna 7</div>
  <div class="col-3">Columna 8</div>
  <div class="col-3">Columna 9</div>
  <div class="col-3">Columna 10</div>
  <div class="col-3">Columna 11</div>
  <div class="col-3">Columna 12</div>
  <div class="col-3">Columna 13</div>
  <div class="col-3">Columna 14</div>
  <div class="col-3">Columna 15</div>
  <div class="col-3">Columna 16</div>
</div>
<!-- matriz 5x5 -->
<div class="grid">
  <div class="col-2">Columna 1</div>
  <div class="col-2">Columna 2</div>
  <div class="col-2">Columna 3</div>
  <div class="col-2">Columna 4</div>
  <div class="col-2">Columna 5</div>
  <div class="col-2">Columna 6</div>
  <div class="col-2">Columna 7</div>
  <div class="col-2">Columna 8</div>
  <div class="col-2">Columna 9</div>
  <div class="col-2">Columna 10</div>
  <div class="col-2">Columna 11</div>
  <div class="col-2">Columna 12</div>
  <div class="col-2">Columna 13</div>
  <div class="col-2">Columna 14</div>
  <div class="col-2">Columna 15</div>
  <div class="col-2">Columna 16</div>
  <div class="col-2">Columna 17</div>
  <div class="col-2">Columna 18</div>
  <div class="col-2">Columna 19</div>
  <div class="col-2">Columna 20</div>
  <div class="col-2">Columna 21</div>
  <div class="col-2">Columna 22</div>
  <div class="col-2">Columna 23</div>
  <div class="col-2">Columna 24</div>
  <div class="col-2">Columna 25</div>
</div>
<!-- matriz 6x6 -->
<div class="grid">
  <div class="col-2">Columna 1</div>
  <div class="col-2">Columna 2</div>
  <div class="col-2">Columna 3</div>
  <div class="col-2">Columna 4</div>
  <div class="col-2">Columna 5</div>
  <div class="col-2">Columna 6</div>
  <div class="col-2">Columna 7</div>
  <div class="col-2">Columna 8</div>
  <div class="col-2">Columna 9</div>
  <div class="col-2">Columna 10</div>
  <div class="col-2">Columna 11</div>
  <div class="col-2">Columna 12</div>
  <div class="col-2">Columna 13</div>
  <div class="col-2">Columna 14</div>
  <div class="col-2">Columna 15</div>
  <div class="col-2">Columna 16</div>
  <div class="col-2">Columna 17</div>
  <div class="col-2">Columna 18</div>
  <div class="col-2">Columna 19</div>
  <div class="col-2">Columna 20</div>
  <div class="col-2">Columna 21</div>
  <div class="col-2">Columna 22</div>
  <div class="col-2">Columna 23</div>
  <div class="col-2">Columna 24</div>
  <div class="col-2">Columna 25</div>
  <div class="col-2">Columna 1</div>
  <div class="col-2">Columna 2</div>
  <div class="col-2">Columna 3</div>
  <div class="col-2">Columna 4</div>
  <div class="col-2">Columna 5</div>
  <div class="col-2">Columna 6</div>
  <div class="col-2">Columna 7</div>
  <div class="col-2">Columna 8</div>
  <div class="col-2">Columna 9</div>
  <div class="col-2">Columna 10</div>
  <div class="col-2">Columna 11</div>
</div>
